<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App: Add Workout</title>
</head>
<body>
    <h2>Add a new Workout</h2>
    <form action="" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <label for="calories">Calories:</label><br>
        <input type="number" id="calories" name="calories"><br><br>

        <input type="submit" value="Submit">
      </form> 
</body>
</html>